
<h1>Bem vindo ao Receitas Net!</h1>
<h2><%= pluralize("Até agora temos " + @recipes.size.to_s, "Receita", "Receitas") %></h2>

<ul>
	<% @recipes.each do |recipe| %>
	<article>
		<header>
			<h2><%= link_to recipe.name , recipe %></h2>
			<%= imagem(recipe)  %>
		</header>
			<th>Ingredientes: </th>
			<p><%= truncate(recipe.stuff, lenght: 35, separator: ' ')%></p>
			
			<th>Calorias: </th>
			<p><%= formata_caloria(recipe) %></p>

			<th>Tempo de Preparo: </th>
			<p><%= recipe.prepare_duration %> min</p>
		
		<table>
			<tr>
				<th>Modo de Preparo:</th>
				<td><%= truncate(recipe.prepare_mode, lenght: 15, separator: ' ')%></td>
				<th>Custo do prato: </th>
				<td><%= number_to_currency(recipe.cost) %></td>

			</tr>
		</table>
	</article>
	<% end %>
	<br>

	<%= link_to "Nova Receita", new_recipe_path %>